<!doctype html>
<html ng-app="digispt">
  <head>
    <title>Digitaler Stadtparteitag</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/vend/angular/angular.min.js"></script>
    <script src="/vend/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="/vend/angular-mousetrap-service/release/angular-mousetrap-service.min.js"></script>
    <script src="/vend/angular-drag-and-drop-lists/angular-drag-and-drop-lists.min.js"></script>
    <script src="/digispt.js"></script>
    <script src="/vend/jquery/dist/jquery.min.js"></script>
    <script src="/vend/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/vend/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/vend/bootstrap/dist/css/bootstrap-theme.min.css" />

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      .btn .glyphicon-transfer, .btn .glyphicon-sort { vertical-align: middle; }
      #addinfo { height: 7em; }
      ul[dnd-list], ul[dnd-list] > li { position: relative; }
      #projectorview iframe, #preview iframe { width: 100%; }
      #speakerlist form > div > div.input-group:nth-child(even) > input {background: #DDD}
    </style>

  </head>
  <body id="admin" ng-controller="AdminController as admin">
    <div class="container-fluid">
      <div class="page-header">
        <h1>Digitaler Stadtparteitag <small>Linke Leipzig</small></h1>
      </div>


      <div class="btn-toolbar" role="toolbar">
        <div class="btn-group" role="group">
          <button ng-click="admin.data.activeView='title'" type="button" class="btn btn-default">Titel</button>
          <button ng-click="admin.data.activeView='timetable'" type="button" class="btn btn-default">Zeitplan</button>
          <button ng-click="admin.data.activeView='speakerlist'" type="button" class="btn btn-default">RednerInnenliste</button>
        </div>
        <div class="btn-group pull-right" role="group">
          <button ng-click="admin.setpreview()" type="button" class="btn btn-default" data-toggle="modal" data-target="#preview">Vorschau <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></button>
          <button type="button" class="btn btn-default" data-toggle="modal" data-target="#projectorview">Projektor-Ansicht <span class="glyphicon glyphicon-picture" aria-hidden="true"></span></button>
          <button ng-click="admin.send()" type="button" class="btn btn-primary">Übertragen <span class="glyphicon glyphicon-transfer" aria-hidden="true"></span></button>
        </div>
      </div>
      <small class="pull-right" style="color: #999;">Alternativ übertragen mit <kbd style="vertical-align: top;"><kbd>alt</kbd> + <kbd>o</kbd></kbd></small>

      <hr />

      <div class="row" id="title" ng-if="admin.active('title')">
        <div class="col-md-offset-2 col-md-8">
          <form class="form">
            <div class="form-group">
              <label for="headline">Hauptüberschrift</label>
              <input class="form-control mousetrap" id="headline" ng-model="admin.data.title.headline" />
            </div>
            <div class="form-group">
              <label for="subtitle">Unterüberschrift</label>
              <input class="form-control mousetrap" id="subtitle" ng-model="admin.data.title.subtitle" />
            </div>
            <div class="form-group">
              <label for="addinfo">Zusatzinformationen</label>
              <textarea class="form-control mousetrap" id="addinfo" ng-model="admin.data.title.addinfo"></textarea>
            </div>
          </form>
        </div>
      </div>

      <div class="row" id="timetable" ng-if="admin.active('timetable')">
        <div class="col-md-offset-2 col-md-8">
          <form class="form">
            <div class="form-group">
              <label for="headline">Überschrift</label>
              <input class="form-control mousetrap" id="headline" ng-model="admin.data.timetable.headline" />
            </div>
            <hr />
            <div>
              <div class="input-group" ng-repeat="entry in admin.data.timetable.list">
                <input ng-model="entry.time" type="text" class="form-control mousetrap" placeholder="HH:MM" maxlength="5" ng-keyup="admin.fixtimetablelist()"/>
                <div class="input-group-addon"><span class="glyphicon glyphicon-time" aria-hidden="true"></span></div>
                <input ng-model="entry.name" type="text" class="form-control mousetrap" placeholder="Eintrag" ng-keyup="admin.fixtimetablelist()"/>
              </div>
            </div>
            <div class="btn-group pull-right" role="group">
              <button ng-click="admin.sorttimetablelist()" type="button" class="btn btn-default">Sortieren <span class="glyphicon glyphicon-sort" aria-hidden="true"></span></button>
            </div>
          </form>
        </div>
      </div>

      <div class="row" id="speakerlist" ng-if="admin.active('speakerlist')">
        <div class="col-md-offset-2 col-md-8">
          <form class="form">
            <div class="form-group">
              <label for="headline">Überschrift</label>
              <input class="form-control mousetrap" id="headline" ng-model="admin.data.speakerlist.headline" />
            </div>
            <hr />
            <div dnd-list="admin.data.speakerlist.list" dnd-allowed-types="speaker">
              <div class="input-group" ng-repeat="speaker in admin.data.speakerlist.list"
              dnd-draggable="speaker" dnd-type="speaker" dnd-disable-if="speaker.name==''" dnd-moved="admin.data.speakerlist.list.splice($index, 1); admin.fixspeakerlist();">
                <input ng-model="speaker.name" type="text" class="form-control mousetrap" placeholder="Name" ng-keyup="admin.fixspeakerlist()" dnd-nodrag />
                <div class="input-group-addon"><span class="glyphicon glyphicon-move" aria-hidden="true"></span> RednerIn</div>
              </div>
            </div>
          </form>
        </div>
      </div>


    <!-- Modal -->
    <div class="modal " id="projectorview" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Projektor Liveansicht</h4>
          </div>
          <iframe src="/"></iframe>
          <script>$(window).on('resize',function(){$('#projectorview iframe').height($(window).height()*0.8);});
          </script>
        </div>
      </div>
    </div>

    <div class="modal " id="preview" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Vorschau <button ng-click="admin.send()" data-dismiss="modal" type="button" class="btn btn-primary pull-right">Übertragen <span class="glyphicon glyphicon-transfer" aria-hidden="true"></span></button></h4>
          </div>
          <iframe src="/"></iframe>
          <script>$(window).on('resize',function(){$('#preview iframe').height($(window).height()*0.8);});
          </script>
        </div>
      </div>
    </div>

    </div>


  </body>
</html>
